
<div style="text-align: center">
    {% if page.pageNumber > 1 %}
 <a class="navButton" href="{{ firstpost | prepend: site.baseurl }}"> Start</a>
 {% endif %}
 {% if page.pageNumber > 1 %}
 <a class="navButton" href="{{ prev | prepend: site.baseurl }}"> Prev</a>
 {% endif %}
 {% if page.pageNumber < page.numPages %}
 <a class="navButton" href="{{ next | prepend: site.baseurl }}"> Next</a>
 {% endif %}
 {% if page.pageNumber < page.numPages %}
 <a class="navButton" href="{{ latest | prepend: site.baseurl }}"> End </a>
 {% endif %}
</div>